<div class="container mt-5 mb-5 text-center">
    <h1><%= @listing.title %></h1>
</div>

<div class="container text-center">
        <img src="https://images.unsplash.com/photo-1587663298189-6e05e9017fd5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=932&q=80" class="img-fluid" alt="Responsive image" style="height:600px; width:70%">           
</div>

<div class="container mt-5 text-center" style="width: 100%;">
    <div class="card bg-light" style="width: 100%">
  <div class="card-body">
    <div class="row">
        <div class="col-6">
            <h4 class="card-title">Property Information</h4>
        </div>
        <div class="col-6">
            <h4 class="card-title">Contact Information</h4>
        </div>
    </div>
    <div class="row">

        <div class="col-6 mb-3">
            <p class="card-text">Price/Night: $<%= @listing.price %></p>
            <p class="card-text">No. of Bedrooms: <%= @listing.bedroom %></p>
            <p class="card-text">No. of Bathrooms: <%= @listing.bathroom %></p>
            <h4 class="card-title">Property Address</h4>
            <p class="card-text">
                <%= @listing.address %> <br>
                <%= @listing.city %>, <%= @listing.state %>
            </p>
        </div>

        <div class="col-6">
            <p class="card-text">Host Name: <%= @listing.host_name %></p>
            <p class="card-text">Phone Number: <%= @listing.host_phone_number %></p>
            <p class="card-text">Email: <%= @listing.host_email %></p>
        </div>

    </div>
    <a href="#" class="btn btn-danger my-2 my-sm-0">Book Now</a>
  </div>
</div>   
</div>