<div class="container mt-5 mb-5 text-center">
    <h1><%= @listing.title %></h1>
    <% if @listing.user == current_user %>
        <%= link_to "Edit Listing", edit_listing_path(@listing), class: "btn btn-primary mr-2" %>
        <%= link_to "Delete Listing", listing_path(@listing), class: "btn btn-danger", method: :delete %>
    <% end %>
</div>

<div class="container text-center">
        <%= image_tag(@listing.img, :alt => "Card image cap", class: "img-fluid") %>          
</div>

<div class="container mt-5 text-center" style="width: 100%;">
    <div class="card bg-light" style="width: 100%">
        <div class="card-body">

            <div class="row">
                <div class="col-6">
                    <h4 class="card-title">Property Information</h4>
                </div>
                <div class="col-6">
                    <h4 class="card-title">Contact Information</h4>
                </div>
            </div>

            <div class="row">

                <div class="col-6 mb-3">
                    <p class="card-text">Price/Night: $<%= @listing.price %></p>
                    <p class="card-text">No. of Bedrooms: <%= @listing.bedroom %></p>
                    <p class="card-text">No. of Bathrooms: <%= @listing.bathroom %></p>
                    <h4 class="card-title">Property Address</h4>
                    <p class="card-text">
                        <%= @listing.address %> <br>
                        <%= @listing.city %>, <%= @listing.state %>
                    </p>
                </div>

                <div class="col-6">
                    <p class="card-text">Email: <%= @listing.host_email %></p>
                    <p class="card-text">View all listings from this host:  <%= link_to "View All", user_listings_path %></p>
                </div>
        </div>    
    </div>   
</div>

<% if guest_signed_in? %>
    <div class="container mt-5 text-center" style="width: 100%;">
        <div class="card bg-light" style="width: 100%">
        <div class="card-body">
            <div class="row">
                <div class="col-12 text-center">
                    <h4 class="card-title">Book a reservation at this location!</h4>
                </div>
            </div>
            <div class="container">
                <%= form_for @booking do |f| %>
                <%= f.hidden_field :user_id, value: @listing.user.id %>
                <%= f.hidden_field :guest_id, value: current_guest.id %>
                <%= f.hidden_field :listing_id, value: @listing.id %>
                <%= f.label :comments, "Additional comments to the Host" %> <br>
                <%= f.text_area :comments %> <br>
                <%= f.submit class: "btn btn-danger" %>
                <% end %>

            </div>
        </div>
    </div>
    </div>
<% end %>
 