<% if notice.present? %>
  <%= render 'notice' %>
<% end %>


<div class="view" style="background-image: url('https://images.unsplash.com/photo-1554437041-409483d54614?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1237&q=80'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
            <!-- Mask & flexbox options-->
            <div class="mask rgba-gradient align-items-center">
              <!-- Content -->
              <div class="container">
                <!--Grid row-->
                <div class="row">
                  
                  <!--Grid column-->
                </div>
                <!--Grid row-->
              </div>
              <!-- Content -->
            </div>
            <!-- Mask & flexbox options-->
          </div>
          <!-- Full Page Intro -->
        </header>
        <!-- Main navigation -->
        <!--Main Layout-->
        <main>
          <div class="container">
            <!--Grid row-->
            <div class="row py-5 ">
              <!--Grid column-->
              <div class="col-md-4 text-center">
                <div class="card h-100">
                  <img class="card-img-top" style="width:100%" src="https://images.unsplash.com/photo-1519227355453-8f982e425321?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60" alt="Card image cap">
                    <div class="card-body d-flex flex-column">
                        <h4 class="card-title">Become A Host!</h4>
                        <p class="card-text">
                          <em>You can start hosting and start earning money on your properties or simply be a guest and start booking your vacation! Click the link below for a free account.</em>
                        </p>
                        <%= link_to 'Sign Up As A Host', new_user_registration_path, class:"btn btn-primary mt-auto" %>
                    </div>
                </div>
              </div>

              <!--Grid column-->
              <div class="col-md-4 text-center">
                <div class="card h-100">
                  <img class="card-img-top" style="width:100%" src="https://images.unsplash.com/photo-1494526585095-c41746248156?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60" alt="Card image cap">
                    <div class="card-body d-flex flex-column">
                        <h4 class="card-title">Enjoy a Vacation!</h4>
                        <p class="card-text">
                          <em>Start looking for that perfect getaway. It's only one click away!</em>
                        </p>
                        <%= link_to 'View All Listings', listings_path, class:"btn btn-primary mt-auto" %>
                    </div>
                </div>
              </div>

              <!--Grid column-->
              <div class="col-md-4 text-center">
                <div class="card h-100">
                  <img class="card-img-top" src="https://images.unsplash.com/photo-1519227355453-8f982e425321?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60" alt="Card image cap">
                    <div class="card-body d-flex flex-column">
                        <h4 class="card-title">Become A Guest!</h4>
                        <p class="card-text">
                          <em>You can start traveling the world for a great price!  Click the link below for a free account.</em>
                        </p>
                        <%= link_to 'Sign Up As A Guest', new_guest_registration_path, class:"btn btn-primary mt-auto" %>
                    </div>
                </div>
              </div>

              <!--Grid column-->
            </div>
            <!--Grid row-->
          </div>
        </main>
        <!--Main Layout-->


        <%= link_to "Sign In With Google", user_google_oauth2_omniauth_authorize_path %>